*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
.sectionone{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.sectionTwo{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionTwo .maindiv{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: row;
}
.maindiv .photo{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo img{
    height: 400px;
}
.maindiv .photo_description{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
}
.sectionTwo .maindiv h1{
    color: #EAAB1B;
    margin-bottom: 10px;
    font-size: 35px;
    margin-top: -70px;
    margin-left: 50px;
}
.maindiv p{
    font-size: 15px;
}
.sectionthree{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionthree span{
    color: #6CB840;
}
.sectionthree .maindiv{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eaf3e4;

}
.sectionthree h1{
    padding-top: 20px;
    color: #000000;
}
.upperdiv{
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.upperdiv .one{
    height: 60%;
    width: 22%;
    margin-left: 15px;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.upperdiv .two{
    height: 60%;
    width: 22%;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.upperdiv .three{
    height: 60%;
    width: 22%;
    margin-right: 15px;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.lowerdiv{
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lowerdiv .four{
    height: 60%;
    width: 22%;
    margin-left: 15px;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.lowerdiv .five{
    height: 60%;
    width: 22%;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.lowerdiv .six{
    height: 60%;
    width: 22%;
    margin-right: 15px;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.sectionthree .maindiv h2{
    font-size: 18px;
    padding: 10px 10px;
    color: #000000;
}
.inside{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.inside img{
    margin-left: -70px;
    margin-top: -20px;
}
.inside p{
    color: #323232;
    font-size: 12px;
}
.sectionfour{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionfour .maindiv{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #6CB840;
}